body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('C:\Users\ASUS\Desktop\Calculatorapp\wallpaperflare.com_wallpaper.jpg'); 
    background-size: cover;
    background-blur: 10px; 
}

.calculator {
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black background for the calculator */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}




input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #777;
}
